#details{
  margin-top:15px;
  padding-top:220px;
  background:url(http://localhost:3000/images/shouye/shanhe.png) no-repeat center top;
  .top_mesg{
      border-bottom:2px solid #e1e1e1;
      background-color:#fff;
      .main_cuntent_fl{
          width:1130px;
          margin:0 auto;
          height:129px;
          .shangpiocimg{
            height:150px;
            width:150px;
            border:3px solid #e0e0e0;
            margin-top:-70px;
          }
          .shangpinname{
            width:309px;
            height:129px;
            line-height:129px;
            text-align:center;
            font-size:20px;
            color:#000;
          }
          .fan_del{
            margin-top:25px;
            li{
              float:left;
              height:80px;
              width:110px;
              margin-right:15px;
              div{
                width:100%;
                height:40px;
                line-height:40px;
                text-align:center;
                &.titl{
                  background-color:#2A8DC9;
                  font-size:16px;
                  color:#fff;
                }
                &.dianqian{
                  background:#DBEAF2;
                  font-size:20px;
                }
              }
            }
          }
          .monikaihu{
            margin-top:45px;
            button{
              display:inline-block;
              margin-left:10px;
              font-size:18px;
              color:#fff;
              text-align:center;
              width:130px;
              height:42px;
              line-height:42px;
              border-radius:5px;
              &.shen_qian_mn{
                background:#BFBFBF;
                &:hover{
                  background:#B2B2B2;
                }
              }
              &.shen_qian_kaihu{
                background:#FB4A4A;
                &:hover{
                  background: #FB2B2B;
                }
              }
            }
          }
      }
  } 
  .middle_show{
    margin-top:20px;
    .middle_left{
      width:820px;
      .details{
        width:820px;
        height:50px;
        padding-left:30px;
        background-color:#fff;
        li{
          float:left;
          height:50px;
          line-height:50px;
          cursor: pointer;
          width:110px;
          text-align:center;
          color:#565656;
          font-size:18px;
          border-radius:1px;
          &:hover{
            color:#1BBE60;
          }
          &.onniwan{
            background-color:#1BBE60;
            color:#fff;
          }
        }
      }
      .deta_soneiht{
        width:100%;
        background-color:#fff;
        width:100%;
        overflow:scroll;
        overflow-x:hidden;
        height:979px;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        border-top: 4px solid #1BBE60;
        .jiao_title{
          height:30px;
          margin:20px 0;
          font-size:18px;
          i{
            float:left;
            &.titlejj{
              height:30px;
              line-height:30px;
              color:#565656;
              padding-left:2px;
            }
            &.bishifu{
              height: 30px;
              width: 6px;
              background: #1BBE60;
              margin-left: -10px;
            }
          }
        }
        .jiaoyisuojis{
          width:100%;
          .minsjiao{
            width:754px;
            margin:0 auto;
            .mes_cunt{
              overflow:hidden;
              .gonsiimgioc{
                float:left;
                height:224px;
                width:224px;
                border:2px solid #e1e1e1;
                position:relative;
                margin-right:15px;
                .postopioc{
                  position:absolute;
                  top:0;
                  left:0;
                  background:url(http://localhost:3000/images/shouye/huoluwangyemian.png) no-repeat;
                  height:76px;
                  width:76px;
                }
              }
              .cuntent_mesg{
                line-height: 1.2em;
                color: #535353;
                font-size: 16px;
                text-overflow: ellipsis;
              }
            }
            .jcgj_pzdk{
              padding-top:20px;
              table{
                width:754px;
                font-size:16px;
                border-collapse: collapse;
                tr{
                  height:57px;
                  border-bottom:1px dashed #e1e1e1;
                   .cname{
                     width:113px;
                     font-weight: bold;
                     color: #17B388;
                   }
                }
              }
            }
            .tablst{
              img{
                max-width:750px;
              }
            }
          }
        }
        .list_gongao{
          width:754px;
          margin:25px auto 0;
          height:180px;
          line-height:180px;
          font-size:30px;
          text-align:center;
        }
        .ziliaoxiazai{
          width:754px;
          margin:0 auto;
          .jyruanjxz_uplod{
            overflow:hidden;
            li{
              float:left;
              width:219px;
              height:290px;
              margin:0 20px 10px 10px;
              &>div{
                width:100%;
                height:268px;
                .img{
                  width:72px;
                  padding-top:30px;
                  margin:0 auto;
                }
                .name{
                  height:38px;
                  line-height:38px;
                  color:#fff;
                  font-size:16px;
                  text-align:center;
                }
                &.bg_sky_blue{
                  background-color:#00d3e1;
                  .btn_blank{
                    text-align:center;
                    padding-top:18px;
                    a{
                      display: block;
                      font-size: 14px;
                      margin: 30px auto;
                      border-radius: 5px;
                      color: #1562BB;
                      line-height: 35px;
                      width: 147px;
                      background: #EEF2F7;
                      text-align: center;
                      height: 35px;
                      &:hover{
                        background: #D0DCE8;
                      }
                    }
                  }
                }
                &.bg_dark_blue{
                  background-color:#0094e0;
                  .btn_blank{
                    text-align:center;
                    padding-top:18px;
                  }
                }
              }
            }
          }
        }
        .kaihusuoxuzil{
          width:754px;
          margin:0 auto;
          .shengfenzzfm{
            margin-bottom:20px;
          }
          .titleyinghang{
            font-size: 16px;
            position: relative;
            color: #525252;
            padding-left: 45px;
            i{
              background: url(http://localhost:3000/images/shouye/sanba.png) no-repeat;
              margin-left: -25px;
              position: absolute;
              border-radius: 300px;
              height: 21px;
              width: 21px;
            }
          }
          .gedayinghangioc{
            margin-bottom: 10px;
            padding-left: 30px;
            overflow: hidden;
            padding-top: 25px;
            .bankioc{
              float:left;
              width: 60px;
              height: 87px;
              background: url(http://localhost:3000/images/shouye/bankwenzi.png) no-repeat;
              margin-left: 8px;
            }
            .back_2{
              background-position:0 -98px;
            }
            .back_3{
              background-position:0 -196px;
            }
            .back_4{
              background-position:0 -294px;
            }
            .back_5{
              background-position:0 -392px;
            }
            .back_6{
              background-position:0 -490px;
            }
          }
          .woyaozenmekaihu{
            .fangfa{
              height:40px;
              font-size:16px;
            }
            .sishiddlianxidih{
              overflow:hidden;
              width:450px;
              margin:15px 0 15px 175px;
              .tonyong{
                float:left;
                width:126px;
                height:118px;
                margin:0 55px 0 40px;
                background:url(http://localhost:3000/images/shouye/dianhuakefu1.png) no-repeat;
                transition:all 0.5s ease;
              }
              .zaixiankefu{
                background-position:-245px 0;
                &:hover{
                  background-position:-245px -182px;
                }
              }
              .phonnum:hover{
                background-position:0 -182px;
              }
            }
            .fangfar{
              line-height:50px;

            }
            .actionkaihu{
              display: block;
              margin: 30px auto;
              width: 250px;
              height: 50px;
              color: #fff;
              font-size: 20px;
              line-height: 50px;
              text-align: center;
              border-radius: 6px;
              background: #F28F43;
              &:hover{
                background-color:#F07820;;
              }
            }
          }
        }
        .fanyongxiangqin{
          width:754px;
          margin:0 auto;
          .fy_mesagesxk{
            &>ul{
              overflow:hidden;
              &>li{
                float:left;
                width:230px;
                height:223px;
                border:5px solid #e1e1e1;
                .tonyon{
                  border-bottom:1px dashed #e1e1e1;
                }
                .fybl{
                  height:110px;
                  text-align:center;
                  .bl{
                    font-size: 38px;
                    line-height: 80px;
                    margin-top: 25px;
                    font-weight: bold;
                    font-style: normal;
                    color: #FF6600;
                  }
                  .xjie{
                    font-size:16px;
                    color:#8c8c8c;
                  }
                }
                .sqds{
                  font-size:18px;
                  height:41px;
                  line-height:41px;
                  padding-left:35px;
                  color: #FF6600;
                  background:url(http://localhost:3000/images/shouye/zhuanyefuwu.png) no-repeat 10px center;
                }
                .zjfy{
                  .ljxq{
                    display: block;
                    width: 125px;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;
                    font-size: 18px;
                    font-weight: bold;
                    color: #fff;
                    background: #A8A8A8;
                    margin: 15px auto 0 auto;
                    &:hover{
                      background: #bfbfbf;
                    }
                  }
                }
              }
            }
          }
          .zrkhmd{
            table{
              border-collapse: collapse;
              font-size: 16px;
              width:754px;
              td{
                border:1px solid #fff;
                font-size:18px;
                text-align:center;
                &.dhs{
                  background-color: #8E8E8E;
                  color:#fff;
                }
                &.hhs{
                  background: #818181;
                  color: #fff;
                }
                &.hs{
                  background: #FF6D16;
                  color: #fff;
                }
                &.zt{
                  color: #FF7E00;
                }
              }
              tbody{
                td{
                  font-size:16px;
                }
              }
              .dehhs{
                .xlbj{
                  background: #EFEFEF;
                }
                .ssbj{
                  background: #EAEAEA;
                }
              }
            }
          }
        }
        .kuhudianping{
          .hmyzwggt{
            height:180px;
            text-align:center;
            line-height:180px;
            font-size:30px;
          }
          .hmyzwgg{
            width:100%;
            .hmycontent{
              width:754px;
              margin:20px auto;
              height:300px;
              border:1px solid #e1e1e1;
              overflow-x:hidden;
              overflow-y:scroll;
              .content{
                width:715px;
                margin:0 auto;
                li{
                  overflow:hidden;
                  width:715px;
                  border-bottom:1px dashed #e1e1e1;
                  padding:20px 20px 10px;
                  .contentimg{
                    height:52px;
                    width:52px;
                    color:#fff;
                    background-color:#e4393c;
                    font-size:30px;
                    line-height:52px;
                    text-align:center;
                    border-radius:50%;
                    position:relative;
                  }
                  .contenttxt{
                    margin-left:20px;
                    .contentnc{
                      display:inline-block;
                      border-bottom:1px dashed #e1e1e1;
                      font-size:16px;
                      height:24px;
                      line-height:24px;
                      i{
                        color:#1BBE60;
                      }
                    }
                    .contentcom{
                      font-size:14px;
                      width:600px;
                      line-height:24px;
                      i{
                        font-weight:600;
                        color:#1BBE60;
                      }
                    }
                  }
                }
              }
            }
          }
          .fabiaopinlun{
            width: 715px;
            border: 1px solid #e1e1e1;
            margin: 0 auto;
            .wujiaoxinghao{
              color: #1bbe60;
              font-size: 16px;
              font-style: normal;
            }
            .form_title{
              height:41px;
              background-color:#f7f7f7;
              .fabiao{
                display:inline-block;
                width: 180px;
                height: 51px;
                margin-left: -11px;
                text-align: center;
                color: #fff;
                font-size: 16px;
                line-height: 40px;
                background: url(http://localhost:3000/images/shouye/fabiaopinglun.png) no-repeat;
                position: relative;
                z-index: 99;
              }
              .fujiang{
                display:inline-block;
                width: 150px;
                text-align: center;
                letter-spacing: 1px;
                font-size: 14px;
                font-weight: bold;
              }
            }
            .formbiaodpl{
              width:665px;
              margin:20px auto;
              .pinluntitle{
                font-size: 14px;
                height: 35px;
                line-height: 35px;
                display: block;
              }
              .nikename{
                width: 163px;
                height: 30px;
                margin: 5px 0px;
                border: 1px solid #e1e1e1;
              }
              .pingjiacunt{
                width: 100%;
                height: 102px;
                border: 1px solid #e1e1e1;
                margin: 5px 0px;
              }
              .youqintishi{
                font-size: 12px;
                color: #999;
              }
              .tijiao{
                margin:10px 0;
                button{
                  background: #1BBE60;
                  width:100px;
                  height:37px;
                  color:#fff;
                  font-size:14px;
                  &:hover{
                    background: #18B159;
                  }
                }
              }
            }
          }
        }
      }
    }
    .middle_right{
      width:332px;
      .fyonp_tai{
        width:100%;
        border:1px solid #e1e1e1;
        background-color:#fff;
        .cuntauto{
          width:236px;
          margin:10px auto;
          .title_js{
            height: 36px;
            background: #00A039;
            font-size: 16px;
            color: #fff;
            border-radius: 3px;
            text-align: center;
            line-height: 36px;
          }
          .list_gejia{
            margin-top:5px;
            li{
              height: 35px;
              padding-left: 40px;
              background: url(http://localhost:3000/images/shouye/woaizuguotiananmen.png) no-repeat scroll 20px center;
              line-height: 35px;
              font-size: 15px;
            }
          }
        }
      }
      .lbggaowei{
        width:100%;
        margin-top:20px;
        .tlt{
          height: 38px;
          border-bottom: 1px solid #e1e1e1;
          background: #fff;
          padding-left: 15px;
          line-height: 39px;
          font-size: 18px;
          color: #565656;
        }
        .imgggwlb{
          .ant-carousel .slick-slide {
            text-align: center;
            height:226px;
            background: #364d79;
            overflow: hidden;
          }
          .ant-carousel .slick-slide h3 {
            color: #fff;
          }
        }
      }
      .tupianggw{
        margin-top:20px;
      }
      .hlxuetan{
        margin-top:20px;
        background-color:#fff;
        .xt_tlt{
          height: 38px;
          border-bottom: 1px solid #e1e1e1;
          background: #fff;
          padding-left: 15px;
          line-height: 39px;
          font-size: 18px;
          color: #565656;
          a{
            float: right;
            font-size: 14px;
            color: #999;
            margin-right: 10px;
          }
        }
        .xt_ljlist{
          width:320px;
          margin:0 auto;
          li{
            width:320px;
            height: 52px;
            border-bottom: 1px dashed #e1e1e1;
            overflow: hidden;
            line-height: 52px;
            font-size: 14px;
            background: url(http://localhost:3000/images/shouye/xiaoquanquana.png) no-repeat scroll 10px center;
            padding-left: 30px;
          }
        }
      }
    }
  }
  .ftbanner{
    .jxtiaoxuan{
      margin-top:40px;
      margin-bottom:30px;
      .women{
        font-size:26px;
        text-align:center;
      }
      .gaobiaoz{
        font-size: 14px;
        margin-top: 8px;
        color: #999;
        text-align: center;
      }
    }
    .btnshaix{
      width:100%;
      padding-left:43px;
      padding-right:44px;
      position:relative;
      height:518px;
      .btncon{
        position:absolute;
        height:518px;
        width:34px;
        top:0;
      }
      .leftbtn{
        left:0;
        background:url(http://localhost:3000/images/shouye/leftbuttom.png) no-repeat left center;
      }
      .rightbtn{
        right:0;
        background:url(http://localhost:3000/images/shouye/rightbottom.png) no-repeat left center;
      }
      .btnlhjx{
        width:100%;
        height:518px;
        overflow:hidden;
        position:relative;
        .csscontent{
          position:absolute;
          top:0;
          left:0;
          height:518px;
          &>li{
            float:left;
            width:335px;
            height:518px;
            border:1px solid #e1e1e1;
            margin:0 18px;
            .topbutui{
              background:url(http://localhost:3000/images/shouye/chengsegejiba.png) no-repeat;
              height:250px;
              text-align:center;
              .topneiqianziti{
                font-size: 20px;
                color: #fff;
                padding-top: 100px;
                line-height: 1.5em;
                .bfb{
                  font-size:40px;
                }
              }
            }
            .gonsi_tlt{
              width:275px;
              margin:0 auto;
              height: 75px;
              font-size: 20px;
              padding-left: 60px;
              overflow: hidden;
              line-height: 74px;
              border-bottom: 1px solid #e1e1e1;
              position:relative;
              .ioc{
                display:block;
                font-size:0;
                position:absolute;
                height:50px;
                width:50px;
                left:0;
                top:10px;
                img{
                  display:block;
                }
              }
            }
            .fycb_tbl{
              width:275px;
              margin:25px auto;
              overflow:hidden;
              .fycb_l{
                width:148px;
                .fycb_lt{
                  height:30px;
                  line-height:30px;
                  font-size:14px;
                  color:#333;
                  padding-left:35px;
                  background:url(http://localhost:3000/images/shouye/huibenchenb.png) no-repeat 10px center;
                }
                .fycb_lb{
                  height:30px;
                  line-height:30px;
                  color:#333;
                  font-size:16px;
                  padding-left:35px;
                }
              }
              .fycb_r{
                width:126px;
                .fycb_lt{
                  height:30px;
                  line-height:30px;
                  font-size:14px;
                  color:#333;
                  padding-left:35px;
                  background:url(http://localhost:3000/images/shouye/fanyrichenb.png) no-repeat left center;
                }
                .fycb_lb{
                  height:30px;
                  line-height:30px;
                  color:#333;
                  font-size:16px;
                  padding-left:35px;
                }
              }
            }
            .actfycb_tbl{
              width: 200px;
              height: 51px;
              display: block;
              background: #FF473A;
              text-align: center;
              color: #fff;
              line-height: 51px;
              font-size: 16px;
              border-radius: 6px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}